{% extends 'base.html' %}
{% block content %}
<h1>Events</h1>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
        <th>Max Participants</th>
        <th>Remaining Participants</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
    <tr>
        <td><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></td>
        <td>{{ event.date_time|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.max_participants }}</td>
        <td>{{ event.remaining_participants }}</td>
        <td>
            {% if event.image %}
            <a href="{% url 'event_detail' event.id %}">
                <img alt="{{ event.name }}" class="img-fluid" src="{{ event.image.url }}" width="100"></a>
            {% else %}
            No image
            {% endif %}
        </td>
        <td>
            {% if event.remaining_participants > 0 %}
            <a class="" href="{% url 'participant_register' event.id %}">Register</a>
            {% else %}
            <span class="text-danger">Event Full</span>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8">No events to display.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'event_create' %}">Create New Event</a>

{% endblock %}
